
@{
    ViewBag.Title = "hakkimizda";
    Layout = "~/Views/Shared/_layoutkullanici.cshtml";
}

    <section class="page-section about-heading">
        <div class="container">
            <img style="width:1900px; height:410px" class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="/web/assets/img/about.jpg" alt="..." />
            <div class="about-heading-content">
                <div class="row">
                    <div class="col-xl-9 col-lg-10 mx-auto">
                        <div class="bg-faded rounded p-5">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">Sağlam Kafa, Sağlam Vücutta Bulunur</span>
                                <span class="section-heading-lower">Spor Salonu Hakkında</span>
                            </h2>
                            <p>
                                Bulut spor salonu, modern çalışma aletleri, konusunda eğitimli ve tecrübeli eğitmenleri, size özel antrenman programları, sağlıklı, güvenli çalışma ortamında güler yüzle spor yapmanızı sağlamak üzere faaliyet göstermektedir.                       
                            </p>
                            <p class="mb-0">
                                Öncelikli vizyonumuz bireylerin zaman içerisinde kendilerinde görmek istedikleri pozitif değişiklere ulaşmalarını sağlamak, kişilerin egzersiz yaparak daha mutlu ve zinde bireyler olarak salonumuzdan ayrılmalarını sağlamayı başarabilmektedir.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

