
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layoutkullanici.cshtml";
}
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-5">
                        <span class="section-heading-upper">HoşGeldiniz</span>
                        <span class="section-heading-lower">Çalışma Saatleri</span>
                    </h2>
                    <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Pazartesi
                            <span class="ms-auto">08:00 - 18:00</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Salı
                            <span class="ms-auto">08:00 - 18:00</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Çarşamba
                            <span class="ms-auto">08:00 - 18:00</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Perşembe
                            <span class="ms-auto">08:00 - 18:00</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Cuma
                            <span class="ms-auto">08:00 - 18:00</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Cumartesi
                            <span class="ms-auto">09:00 - 17:00</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Pazar
                            <span class="ms-auto">Kapalı</span>
                        </li>
                    </ul>
                    <p class="address mb-5">
                        <em>
                            <strong>Soğukpınar Mahallesi</strong>
                            <br />
                            Dokuztaşlar Caddesi, Tokat
                        </em>
                    </p>
                    <p class="mb-0">
                        <small><em>İletişim Numarası</em></small>
                        <br />
                        5458745698
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
