@model IEnumerable<Spor_Salonu.Models.aletler>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layoutkullanici.cshtml";
}

@foreach (var item in Model)
{

    <section class="page-section">
        <div class="container">
            <div class="product-item">
                <div class="product-item-title d-flex">
                    <div class="bg-faded p-5 d-flex ms-auto rounded">
                        <h2 class="section-heading mb-0">
                            <span class="section-heading-upper">@Html.DisplayFor(modelItem => item.kategori.kategoriad)</span>
                            <span class="section-heading-lower">@Html.DisplayFor(modelItem => item.aletad)</span>
                        </h2>
                    </div>
                </div>
                <img style="width:600px; height:400px" class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="@Html.DisplayFor(modelItem => item.foto)" alt="..." />
                <div class="product-item-description d-flex me-auto">
                    <div class="bg-faded p-5 rounded"><p class="mb-0">@Html.DisplayFor(modelItem => item.aletaciklama)</p></div>
                </div>
            </div>
        </div>
    </section>
}

